body{
	/* background-color: rgb(223, 255, 205); */
	background-image: linear-gradient(rgb(188, 252, 252), rgb(15, 63, 61));
}

.jumbotron{
	background-color: rgba(0, 0, 0, 0);
	min-height: 250px;
    background-size: cover;
	color: white;
	text-shadow: 2px 4px 4px black;
}

.custom-panel{
	margin-top: 10px;
	
}
.panel-primary {
	background-color:rgb(15, 63, 61);
	border-color: #e3e3e3;
	color: white;
}
.panel-primary>.panel-heading{
	background-color:rgb(15, 63, 61);
	border-color:#e3e3e3;
	color: white;
}

.panel-body {
	background-color: rgb(15, 63, 61);
	color: white;
	border-color:#e3e3e3;
}

.banner-text h1{
	font-family: "Source Sans Pro";
	color: #ffffff;
	font-size: 53px;
	letter-spacing: 10px;
	font-weight: 600;
	border-color:#e3e3e3;
}

.banner-text p{
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-color:#e3e3e3;
}

.col-md-6{
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0);
}

.btn {
	background-color: rgb(15, 63, 61) !important;
}